/* Estilos generales */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/fondoGanaderoCompressed.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  transform: scale(1.1);
}
body{
  /* fondo por defecto por si hay un error con la imagen de fondo*/
  background-color: rgb(36, 66, 16);
  
}
